@import "tailwindcss";

div{
    color: var(--text-color);
}

.hero{
    height: 400px;
    width: 100% ;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.ligne1{
    display: flex;
    align-content: end;
    justify-content: center;
}

.hi{
   
   align-content: end;
}


.nom{
/* 
    font-size: xx-large; */
    align-content: end;
    font-size: larger;
    text-transform: uppercase;
}



@media ( hover :hover){
    a:hover{
    color: rgb(127, 127, 127);
    background-color: black;
}
}