@import "tailwindcss";

div{
    color: var(--text-color);
}

.hero{
    max-height: 80%;
    width: 90% ;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.ligne1{
    display: flex;
    align-content: end;
    justify-content: center;
}



@media ( hover :hover){
    a:hover{
    color: rgb(127, 127, 127);
    background-color: black;
}
}